*{
  margin : 0;
  padding: 0;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

.weather_app{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('images/backround.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.weather_app.warm{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('images/warm-bg.jpg');
  background-repeat: no-repeat;
}



.search-box{
  width: 50%;
  margin: 0 0 75px;
  padding-left : 36%;
  padding-top: 100px;
}

.search-box .search-bar{
  display: block;
  width: 50%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline : none;

  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: white;
  font-size:20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color:rgba(255, 255, 255, 0.35);

}

.name{
  color:white;
  padding-top: 30px;
  font-size: 50px;
  float :left;
}

.logo{
  float: left;
  height: 100px;
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

.links{
  float:right;
}

.links li{
  display: inline-block;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.links_img{
  height: 40px;
  width: 40px;
}

.box{
  text-align: center;
}

.location-box .location{
  color : #fff;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.location-box .date{
  color : #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}