*{
  margin : 0;
  padding: 0;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

.weather_app{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('images/cold-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.weather_app.warm{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('images/warm-bg.jpg');
  background-repeat: no-repeat;
}



.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding : 15px;

  appearance: none;
  background: none;
  border: none;
  outline : none;
}

.name{
  color:white;
  padding-top: 30px;
  font-size: 50px;
  float :left;
}

.logo{
  float: left;
  height: 100px;
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.links{
  float:right;
}

.links li{
  display: inline-block;
  padding-right: 50px;
  padding-top: 30px;
}

.links_img{
  height: 50px;
  width: 50px;
}